
#nav{
height: 100px;
  background: #A0E6FB;
  display: flex;
  justify-content: space-around;
}


#footer{
  position: fixed;
  background: #A0E6FB;
  text-align: center;
  width: 100%;

}
#home{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
#intro{
  background: pink;
  top: 0;
  left: 0px;
  position: fixed;
  width: 400px;
}
#intro h1{
  font-size: 4em;
  text-align: center;
}
#intro p{
  font-size: 2em;;
}

/* Below: I really liked the layout from this interior design site and used the developer tools to see how they achieved a uniform look https://www.mouchtaris.com/interior-design */
#characters{
  width: calc(100% - 210px);
  position: relative;
  left: 400px;
  background: green;
}
#characters img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

.activities{
  background: blue;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 6;
  grid-row-end: end;
}
#stickers{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

#activities{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#activities img{
  width: 210px;
  height: 70px;
  
}

#flashcards{
 display: flex;
 flex-wrap: wrap;
  width: calc(100% - 210px);
  position: relative;
  left: 400px;
  background: green;
}

#flashcards img{
  width: 486px;
  height: 607px;
  
}

#snowy, #windy{
  left: 20%;
}